@page "/AddDesignConcept"
@using Features.Clients.Queries.GetClients
<h3>@Resource.Add_Design_Concept</h3>
<ServerSideValidator @ref="ServerSideValidator" />
<EditForm Model="CreateDesignConceptCommand" OnValidSubmit="SubmitForm">
    <EditContextServerSideValidator @ref="EditContextServerSideValidator" />
    <FluentValidationValidator />
    <MudCard>
        <MudCardContent>
            <MudTabs KeepPanelsAlive="true" Elevation="25" Color="Color.Transparent" Rounded="true" PanelClass="mt-6">
                <!--Select Client-->
                <MudTabPanel Text="@Resource.Client" Icon="@Icons.Material.Filled.Person">
                    <MudAutocomplete T="ClientItem" Value="_selectedClient" ValueChanged="ClientSelectedHandler"
                        Text="@_selectedClient?.FullName" Class="pl-md-12" Label="Client" Variant="Variant.Outlined"
                        SearchFunc="@SearchClients" ResetValueOnEmptyText="true" CoerceText="false" CoerceValue="false"
                        AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" Clearable="true"
                        DebounceInterval="500" MaxHeight="400" MaxItems="50" SelectValueOnTab="true"
                        Validation="@(new Func<string, IEnumerable<string>>(ValidateClient))">
                        <ItemTemplate Context="client">
                            <div class="d-flex align-center gap-4">
                                @if (!string.IsNullOrWhiteSpace(client?.AvatarUri))

                                {
                                    <MudImage Src="@client.AvatarUri" Width="64" Height="64" Alt="@client?.FullName"
                                    Elevation="25" Class="rounded-lg ma-4" />

                                }

                                else

                                {
                                    <MudIcon Icon="@Icons.Material.Filled.Person" Color="Color.Primary" Size="Size.Large" />

                                }
                                <MudText>
                                    @client?.FullName
                                </MudText>
                            </div>
                        </ItemTemplate>
                        <ItemSelectedTemplate Context="client">
                            <div class="d-flex align-center gap-4">
                                @if (!string.IsNullOrWhiteSpace(client?.AvatarUri))

                                {
                                    <MudImage Src="@client?.AvatarUri" Width="64" Height="64" Alt="@client?.FullName"
                                    Elevation="25" Class="rounded-lg ma-4" />

                                }

                                else

                                {
                                    <MudIcon Icon="@Icons.Material.Filled.Person" Color="Color.Primary" Size="Size.Large" />

                                }
                                <MudText>
                                    @client?.FullName
                                </MudText>
                            </div>
                        </ItemSelectedTemplate>
                        <NoItemsTemplate>
                            <MudText Align="Align.Center" Class="px-4 py-1">
                                @Resource.No_clients_found
                            </MudText>
                        </NoItemsTemplate>
                        <MoreItemsTemplate>
                            <MudText Align="Align.Center" Class="px-4 py-1">
                                @Resource.More_clients_found @Resource.Try_entering_more_letters
                            </MudText>
                        </MoreItemsTemplate>
                    </MudAutocomplete>
                </MudTabPanel>
                <!--Window Measurements-->
                <MudTabPanel Text="@Resource.Window_Measurements" Icon="fas fa-ruler-vertical">
                    <ClientNameWithProfilePic SelectedClient="@_selectedClient" />

                    <MudGrid Justify="Justify.SpaceBetween" Class="mb-10">
                        <MudItem xs="12" md="6">
                            <MudImage Src="@_windowIllustrationImageSrc" Style="height: 600px; width: 600px;"
                                Alt="Window Illustration" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <div class="d-flex justify-start align-center gap-4 mb-6">
                                <MudText Typo="Typo.h6">@Resource.Measurement_System</MudText>
                                <MudRadioGroup @bind-SelectedOption="_draperyCalculationsItem.MeasurementSystem">
                                    <MudRadio Option="MeasurementSystem.English" Color="Color.Primary"
                                        Size="Size.Medium">
                                        @Resource.English
                                    </MudRadio>
                                    <MudRadio Option="MeasurementSystem.Metric" Color="Color.Primary"
                                        Size="Size.Medium">
                                        @Resource.Metric
                                    </MudRadio>
                                </MudRadioGroup>
                            </div>
                            <MudTextField Class="mb-4" Label="@Resource.Room" Variant="Variant.Outlined"
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.Room"
                                For="@(() => CreateDesignConceptCommand.WindowMeasurementsItem.Room)" />
                            <MudTextField Class="mb-4" Label="@Resource.Window" Variant="Variant.Outlined"
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.Window"
                                For="@(() => CreateDesignConceptCommand.WindowMeasurementsItem.Window)" />
                            <MudTextField Class="mb-4" Label="@Resource.Notes" Variant="Variant.Outlined" Lines="5"
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.Notes"
                                For="@(() => CreateDesignConceptCommand.WindowMeasurementsItem.Notes)" />
                            <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.OutsideLeftToRight"
                                Class="mb-4" Label="A" Format="F1" Variant="Variant.Outlined" />
                            <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.OutsideTopToBottom"
                                Class="mb-4" Label="B" Format="F1" Variant="Variant.Outlined" />
                            <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.InsideLeftToRight"
                                Class="mb-4" Label="C" Format="F1" Variant="Variant.Outlined" />
                            <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.InsideTopToBottom"
                                Class="mb-4" Label="D" Format="F1" Variant="Variant.Outlined" />
                            <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.TopFrameToCeilingOrCrown"
                                Class="mb-4" Label="E" Format="F1" Variant="Variant.Outlined" />
                            <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.BottomFrameToFloor"
                                Class="mb-4" Label="F" Format="F1" Variant="Variant.Outlined" />
                            <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.FloorToCeilingOrCrown"
                                Class="mb-4" Label="G" Format="F1" Variant="Variant.Outlined" />
                            @* <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.TopFrameToFloor"
                                Class="mb-4"
                                Label="H"
                                Format="F1"
                                Variant="Variant.Outlined" />
                                <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.LeftCasingToWallOrObstruction"
                                Class="mb-4"
                                Label="I"
                                Format="F1"
                                Variant="Variant.Outlined" />
                                <MudNumericField
                                @bind-Value="CreateDesignConceptCommand.WindowMeasurementsItem.RightCasingToWallOrObstruction"
                                Class="mb-4"
                                Label="J"
                                Format="F1"
                                Variant="Variant.Outlined" /> *@
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <!--Drapery Calculations-->
                <MudTabPanel Text="@Resource.Calculations" Icon="@Icons.Custom.Brands.Calculator">
                    <ClientNameWithProfilePic SelectedClient="@_selectedClient" />
                    <MudGrid Justify="Justify.SpaceBetween" Class="mb-8" Spacing="10">
                        <MudItem xs="12" md="4">

                            <!-- Finished Width -->
                            <MudText Class="my-4" Typo="Typo.h4">@Resource.Finished_Width</MudText>
                        </MudItem>
                        <MudItem xs="12" md="4">
                        </MudItem>
                        <MudItem xs="12" md="4">
                        </MudItem>
                    </MudGrid>
                    <MudText Typo="Typo.h4">@Resource.Finished_Length_no_repeat</MudText>
                    <MudText Typo="Typo.h4">@Resource.Finished_Length_repeat</MudText>
                    <MudText Typo="Typo.h4">@Resource.Swags_and_Cascades</MudText>
                    <MudSwitch Label="@Resource.Pattern_Repeat" @bind-Checked="@_draperyCalculationsItem.IsRepeating"
                        Color="Color.Primary" />
                    <MudGrid Justify="Justify.FlexStart" Class="mb-8">
                        <MudItem xs="12" md="6">
                            <div class="d-flex flex-column">
                                <MudText Typo="Typo.h5">@Resource.Rod_Face_Width</MudText>
                                <MudText Typo="Typo.body2">
                                    @Resource.Rod_Face_Width_Description
                                </MudText>
                            </div>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudNumericField T="float" Class="mr-md-auto" Label="@Resource.Rod_Face_Width"
                                Variant="Variant.Outlined" Min="0.0f" Max="1000.0f"
                                @bind-Value="_draperyCalculationsItem.RodFaceWidth"
                                For="@(() => _draperyCalculationsItem.RodFaceWidth)" />
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem xs="6">
                            <MudTextField Class="mb-4" Label="Overlap" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.Overlap"
                                For="@(() => _draperyCalculationsItem.Overlap)" />
                            <MudTextField Class="mb-4" Label="Return" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.Return"
                                For="@(() => _draperyCalculationsItem.Return)" />
                            <MudTextField Class="mb-4" Label="Fullness" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.Fullness"
                                For="@(() => _draperyCalculationsItem.Fullness)" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="mb-4" Label="Trim Off" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.TrimOff"
                                For="@(() => _draperyCalculationsItem.TrimOff)" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="mb-4" Label="Hems" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.Hems"
                                For="@(() => _draperyCalculationsItem.Hems)" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="mb-4" Label="Headings" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.Headings"
                                For="@(() => _draperyCalculationsItem.Headings)" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="mb-4" Label="Puddling" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.Puddling"
                                For="@(() => _draperyCalculationsItem.Puddling)" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="mb-4" Label="Pattern Repeat Length" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.PatternRepeatLength"
                                For="@(() => _draperyCalculationsItem.PatternRepeatLength)" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="mb-4" Label="Fabric Width" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.FabricWidth"
                                For="@(() => _draperyCalculationsItem.FabricWidth)" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="mb-4" Label="Overhang" Variant="Variant.Outlined"
                                @bind-Value="_draperyCalculationsItem.Overhang"
                                For="@(() => _draperyCalculationsItem.Overhang)" />
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <!--Design Image Upload-->
                <MudTabPanel Text="@Resource.Image" Icon="@Icons.Material.Filled.Image">
                    <ClientNameWithProfilePic SelectedClient="@_selectedClient" />
                    <MudCard Elevation="25">
                        <MudCardContent>
                            @if (!string.IsNullOrWhiteSpace(_designConceptImageSrc))



                            {
                                <MudPaper Class="pa-2" Outlined="true">
                                    <div class="d-flex flex-column justify-center align-center gap-6">
                                        <MudImage Src="@_designConceptImageSrc" Style="height: 400px; width: 400px;"
                                        Alt="Category Image" />
                                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete"
                                        Color="Color.Error" OnClick="RemoveDesignConceptImage">
                                            Remove Image
                                        </MudButton>
                                    </div>
                                </MudPaper>



                            }
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <div class="form-group">
                                <BpUploadFile ButtonId="imageInput" ButtonIcon="@Icons.Filled.PhotoCamera"
                                    ButtonName="@(HasUploadedImage() ? Resource.Replace_image : Resource.Upload_image)"
                                    AllowRename="false" AllowedExtensions=".jpg,.png,.jpeg,.bmp" MaxFileSize="10485760"
                                    OnFileSelected="ImageSelected" OnFileUnSelected="ImageUnSelected"
                                    OnImageUpload="GetBase64StringImageUrl" />
                                <ValidationMessage For="@(() => CreateDesignConceptCommand.ImageUrl)" />
                            </div>
                        </MudCardActions>
                    </MudCard>
                </MudTabPanel>
                <!--Work Order-->
                <MudTabPanel Text="@Resource.Work_Order" Icon="fas fa-file-invoice">
                    <ClientNameWithProfilePic SelectedClient="@_selectedClient" />
                    <h4>@Resource.Work_Order</h4>
                </MudTabPanel>
                <!--Profit-->
                <MudTabPanel Text="@Resource.Profit" Icon="@Icons.Material.Filled.AttachMoney">
                    <ClientNameWithProfilePic SelectedClient="@_selectedClient" />
                    <h4>@Resource.Profit</h4>
                </MudTabPanel>
            </MudTabs>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
                FullWidth="true">@Resource.Save</MudButton>
        </MudCardActions>
        <MudDivider />
        <MudExpansionPanels>
            <MudExpansionPanel Text="@Resource.Validation_Summary" IsExpanded="true" Disabled="true" HideIcon="true">
                <MudText Color="@Color.Error">
                    <ValidationSummary />
                </MudText>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudCard>
</EditForm>



@code {
}