@page "/AddFabric"

<h3>@Resource.Add_Fabric</h3>


<ServerSideValidator @ref="ServerSideValidator" />
<EditForm Model="CreateFabricCommand" OnValidSubmit="SubmitForm">
    <EditContextServerSideValidator @ref="EditContextServerSideValidator" />
    <FluentValidationValidator />
    <MudCard>
        <MudCardContent>
            <MudTabs KeepPanelsAlive="true" Elevation="25" Color="Color.Transparent" Rounded="true" PanelClass="mt-6">
                <MudTabPanel Text="@Resource.Fabric" Icon="@Icons.Material.Filled.Person">
                    <MudGrid>
                        <MudItem xs="6">
                            <MudTextField Class="mt-4" Label="@Resource.Manufacturer_Name" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.ManufacturerName"
                                For="@(() => CreateFabricCommand.ManufacturerName)" />

                            <MudTextField Class="mt-4" Label="@Resource.Brand_Name" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.BrandName"
                                For="@(() => CreateFabricCommand.BrandName)" />


                            <MudTextField Class="mt-4" Label="@Resource.Material_Type" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.MaterialType"
                                For="@(() => CreateFabricCommand.MaterialType)" />

                            <MudTextField Class="mt-4" Label="@Resource.Pattern" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.Pattern"
                                For="@(() => CreateFabricCommand.Pattern)" />

                            <MudTextField Class="mt-4" Label="@Resource.Color" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.Color"
                                For="@(() => CreateFabricCommand.Color)" />

                            <MudTextField Class="mt-4" Label="@Resource.Cost_Per_Yard" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.CostPerYard"
                                For="@(() => CreateFabricCommand.CostPerYard)" />

                            <MudTextField Class="mt-4" Label="@Resource.Cost_Per_Meter" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.CostPerMeter"
                                For="@(() => CreateFabricCommand.CostPerMeter)" />

                            <MudTextField Class="mt-4" Label="@Resource.Vertical_Repeat_In_Inches" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.VerticalRepeatInInches"
                                For="@(() => CreateFabricCommand.VerticalRepeatInInches)" />

                            <MudTextField Class="mt-4" Label="@Resource.Vertical_Repeat_In_Centimeters" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.VerticalRepeatInCentimeters"
                                For="@(() => CreateFabricCommand.VerticalRepeatInCentimeters)" />

                            <MudTextField Class="mt-4" Label="@Resource.Horizontal_Repeat_In_Inches" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.HorizontalRepeatInInches"
                                For="@(() => CreateFabricCommand.HorizontalRepeatInInches)" />

                            <MudTextField Class="mt-4" Label="@Resource.Horizontal_Repeat_In_Centimeters" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.HorizontalRepeatInCentimeters"
                                For="@(() => CreateFabricCommand.HorizontalRepeatInCentimeters)" />

                                 <MudTextField Class="mt-4" Label="@Resource.Width_In_Inches" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.WidthInInches"
                                For="@(() => CreateFabricCommand.WidthInInches)" />

                                 <MudTextField Class="mt-4" Label="@Resource.Width_In_Centimeters" Variant="Variant.Outlined"
                                @bind-Value="CreateFabricCommand.WidthInCentimeters"
                                For="@(() => CreateFabricCommand.WidthInCentimeters)" />


                        </MudItem>
                    </MudGrid>
                </MudTabPanel>


                @* <MudTabPanel Text="@Resource.Image" Icon="@Icons.Material.Filled.Image">

                   <MudCard Elevation="25">
                        <MudCardContent>
                            @if (!string.IsNullOrWhiteSpace(_fabricImageSrc))
                            {
                                <MudPaper Class="pa-2" Outlined="true">
                                        <div class="d-flex flex-column justify-center align-center gap-6">
                                            <MudImage Src="@_fabricImageSrc"
                                                    Style="height: 400px; width: 400px;"
                                                    Alt="Category Image"/>

                                            <MudButton Variant="Variant.Filled"
                                                StartIcon="@Icons.Material.Filled.Delete"
                                                Color="Color.Error"
                                                OnClick="RemoveDesignConceptImage">Remove Image
                                            </MudButton>
                                        </div>
                                </MudPaper>
                            }
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <div class="form-group">
                                <BpUploadFile ButtonId="imageInput"
                                                ButtonIcon="@Icons.Filled.PhotoCamera"
                                                ButtonName="@(HasUploadedImage() ? Resource.Replace_image : Resource.Upload_image)"
                                                AllowRename="false"
                                                AllowedExtensions=".jpg,.png,.jpeg,.bmp"
                                                MaxFileSize="10485760"
                                                OnFileSelected="ImageSelected"
                                                OnFileUnSelected="ImageUnSelected"
                                                OnImageUpload="GetBase64StringImageUrl"/>
                                <ValidationMessage For="@(() => CreateDesignConceptCommand.ImageUrl)"/>
                            </div>
                        </MudCardActions>
                    </MudCard>
                </MudTabPanel> *@



            </MudTabs>
        </MudCardContent>
        <MudCardActions Class="pb-4 pl-4">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
                FullWidth="true">@Resource.Save</MudButton>
        </MudCardActions>
        <MudDivider />
        <MudExpansionPanels>
            <MudExpansionPanel Text="@Resource.Validation_Summary" IsExpanded="true" Disabled="true" HideIcon="true">
                <MudText Color="@Color.Error">
                    <ValidationSummary />
                </MudText>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudCard>
</EditForm>
<hr />

@code {

}