@page "/Clients"

@using D2W.WebPortal.Features.Clients.Queries.GetClients

<h3>Clients</h3>

<PageTitle>@title</PageTitle>

<HeadContent>
    <meta name="description" content="@description">
</HeadContent>


<MudTabs ActivePanelIndex="ActivePanelIndex" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="@Resource.Clients">
        <ServerSideValidator @ref="ServerSideValidator" />
        <MudTable Context="Client" ServerData="@(new Func<TableState, Task<TableData<ClientItem>>>(ServerReload))" Striped="true" Dense="true" Hover="true" FixedHeader="true" FixedFooter="true" @ref="Table">
            <ToolBarContent>
                <MudText Typo="Typo.h5" Color="Color.Primary">@Resource.Clients</MudText>

                @* <MudTooltip Text="@Resource.ExportAsPdfInBackground">
                    <MudFab Style="margin-left: 20px; margin-top: 10px"
                            Color="Color.Primary"
                            Size="Size.Small"
                            Icon="@Icons.Material.Filled.Timer" OnClick="PostponedExportClientToPdf" />
                </MudTooltip>

                <MudTooltip Text="@Resource.ExportAsPdfImmediate">
                    <MudFab Style="margin-left: 20px; margin-top: 10px"
                            Color="Color.Primary"
                            Size="Size.Small"
                            Icon="@Icons.Material.Filled.PictureAsPdf" OnClick="ImmediateExportClientToPdf" />
                </MudTooltip> *@

                <MudToggleIconButton Style="margin-left: 20px; margin-top: 10px"
                                     Size="Size.Medium"
                                     Icon="@Icons.Material.Outlined.StopCircle"
                                     Color="@Color.Error"
                                     Title="@Resource.Close_SignalR_Connection"
                                     Toggled="@IsHubConnectionClosed"
                                     ToggledChanged="OnHubConnectionToggledChanged"
                                     ToggledIcon="@Icons.Material.Outlined.PlayCircle"
                                     ToggledColor="@Color.Success"
                                     ToggledTitle="@Resource.Start_SignalR_Connection" />

                <MudSpacer />

                <MudTextField T="string"
                              Immediate="true"
                              ValueChanged="@(FilterClients)"
                              Placeholder="@Resource.Search"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Small" Class="mt-0">
                </MudTextField>

                <MudFab Style="margin-left: 20px; margin-top: 10px"
                        Color="Color.Primary"
                        Size="Size.Small"
                        Icon="@Icons.Material.Filled.Add" OnClick="AddClient" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortLabel="FullName" T="ClientItem">@Resource.FullName</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Email" T="ClientItem">@Resource.Email</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="PhoneNumber" T="ClientItem">@Resource.Phone_Number</MudTableSortLabel></MudTh>
                <MudTh>@Resource.Options</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="FullName">@Client.FullName</MudTd>
                <MudTd DataLabel="Email">@Client.Email</MudTd>
                <MudTd DataLabel="PhoneNumber">@Client.PhoneNumber</MudTd>
                <MudTd>
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Text">

                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.ViewModule"
                                   Size="Size.Small"
                                   Color="Color.Default"
                                   OnClick="@(() => ViewClient(Client.Id))">@Resource.View</MudButton>

                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Edit"
                                   Size="Size.Small"
                                   Color="Color.Default"
                                   OnClick="@(() => EditClient(Client.Id))">@Resource.Edit</MudButton>

                        <MudButton Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Delete"
                                   Size="Size.Small"
                                   Color="Color.Error"
                                   OnClick="@(() => DeleteClient(Client.Id))">@Resource.Delete</MudButton>
                    </MudButtonGroup>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager RowsPerPageString="@Resource.Rows_Per_Page" />
            </PagerContent>
        </MudTable>
    </MudTabPanel>
</MudTabs>
